@using System.Web.Optimization
@{
    ViewBag.Title = "Store";
}
<div class="tile-group first three-wide">
<a href="/Store"><h2>Store</h2></a> 
@Html.ActionLink("Admin", "Admin", "Store")
</div>
<div class="tile-group two-wide">
    <a href="/Store"><h2>@ViewBag.Title</h2></a> 
    <div class="tile-strip two-wide">
        <div class="green live-tile">
            <div>
                
            </div>
        </div>
        <div class="live-tile half-tall">
            <div>
                
            </div>
        </div>
        <div class="live-tile half-tall">
            <div>
                
            </div>
        </div>
    </div>
    <div class="live-tile two-wide">
        <div>
            
        </div>
    </div>
</div>
