@{
    ViewBag.Title = "Home";
}

<div class="tile-group first four-wide">
    <h2>Home</h2>   
    <div class="tile-strip four-wide">
        <div class="red live-tile three-wide" data-mode="flip" data-delay="4000">
            <div>
                <p>welcome!</p>
                <span class="tile-title">This page is my personal homepage, blog and playground.</span>
            </div>
            <div>
                <p>download me!</p>
                <span class="tile-title">you can download the source code along with instructions on how to build or install this page system</span>
            </div>
        </div>
        <div class="green live-tile half-tall"><div></div></div>
        <div class="live-tile half-tall exclude">
            <div>
                <span class="tile-title">knockout.js</span>
            </div>
        </div>
    </div>
    <div class="live-tile"><div></div></div>
    <div class="tile-strip one-tile">
        <div class="red live-tile half-tile"><div></div></div>
        <div class="green live-tile half-tile"><div></div></div>
        <div class="blue live-tile half-tile"><div></div></div>
        <div class="amber live-tile half-tile"><div></div></div>
    </div>
    <div class="blue live-tile two-wide">
        <div>
            <h3 class="white">the place i work</h3>
            <a href="http://www.rehfeld.dk" target="_blank">
                <img class="full" src="~/Content/Images/Tiles/5-image.jpg" />" alt="Rehfeld" />
            </a>
        </div>
        <div>
            <h4 class="white">build bi solutions faster</h4>
            <a href="http://rehfeld.dk/effektor/effektor/" target="_blank">
                <img class="full" src="~/Content/Images/Tiles/17-image.png" />" alt="Effektor" />
            </a>
        </div>
    </div>
</div>