@{
    ViewBag.Title = "Downloads";
}
<div class="tile-group first three-wide">
    <h2>@ViewBag.Title</h2>
    <p>Download some of my hobby apps</p>

</div>
<div class="tile-group first two-wide">
    <h2>EasyModules.NET</h2>
    <p>This will install a windows forms application that will install and manage your new website and or source project.</p>
    <p>The following prerequisites are required:</p>
    <ol>
        <li>Microsoft .NET Framework 4.5 (x86 and x64)</li>
    </ol>
    <span>If these components are already installed, you can <a href="http://easymodules.net/Applications/EasyModules.NET.Installer/EasyModules.NET.Installer.application">launch</a>  the application now. Otherwise, click the button below to install the prerequisites and run the application.</span>
    <br/>
    <span><a class="button" href="http://easymodules.net/Applications/EasyModules.NET.Installer/setup.exe">Install</a></span>
    <br/>
    <p>Please refer to the documentation on how to get started with EasyModules.NET</p>
</div>

