@{
    ViewBag.Title = "Games";
}
<div class="tile-group first four-wide">
    <a href="/Games"><h2>@ViewBag.Title</h2></a>  
    <div class="tile-strip four-wide">
        <div class="live-tile three-wide" data-speed="750" data-delay="3000">
            <div>
                <a href="/Games/Ragnarok">
                    <img class="full" src="/Modules/EasyModules.NET.Modules.Games.Web/Images/fenrir.jpg" alt="Ragnarok" />
                    <span class="tile-title">Jump aboard making HTML 5 games with this RPG</span>
                </a>
            </div>
            <div>
                <a href="/Games/Ragnarok">
                    <img class="full" src="/Modules/EasyModules.NET.Modules.Games.Web/Images/ragnarokmap.jpg" alt="Ragnarok" />
                    <span class="tile-title">Using MelonJs framework to create an old school rpg</span>
                </a>
            </div>
        </div>
        <div class="live-tile half-tall exclude">
            <div>
                <a href="http://www.melonjs.org/" target="_blank">
                    <img class="full" src="/Modules/EasyModules.NET.Modules.Games.Web/Images/melonjs.png" alt="MelonJs" />
                </a>
            </div>
        </div>
        <div class="live-tile half-tall exclude">
            <div>
                <a href="http://www.mapeditor.org/" target="_blank">
                    <img class="full" src="/Modules/EasyModules.NET.Modules.Games.Web/Images/tiled-logo-white.png" alt="Tiled Map Editor" />
                </a>
            </div>
        </div>
    </div>
    <div class="tile-strip four-wide">
        <div class="live-tile" data-mode="carousel" data-direction="horizontal" data-delay="2500">
            <div>
                <img class="full" src="/Modules/EasyModules.NET.Modules.Games.Web/Ragnarok/Characters/fey.png" alt="Ragnarok" />
            </div>
            <div>
                <img class="full" src="/Modules/EasyModules.NET.Modules.Games.Web/Ragnarok/Characters/kavi.png" alt="Ragnarok" />
            </div>
            <div>
                <img class="full" src="/Modules/EasyModules.NET.Modules.Games.Web/Ragnarok/Characters/labyrinth_man.png" alt="Ragnarok" />
            </div>
            <div>
                <img class="full" src="/Modules/EasyModules.NET.Modules.Games.Web/Ragnarok/Characters/rehokoina.png" alt="Ragnarok" />
            </div>
        </div>
        <div class="live-tile two-wide"> 
        <div>
            <p>Fresh & lightweight</p>
            <span class="tile-title">melonJS is the result of our enthusiasm and past experiments with Javascript, and came from the feeling that no simple, free and standalone library was available to develop games. And although still a work in progress, melonJS already allows to easily create some nice games.</span>
        </div>
        <div>
            <p>Your free, easy to use and flexible tile map editor</p>
            <span class="tile-title">
                Efficient tile editing tools like stamp, fill and terrain brushes.
                Rectangle, ellipse, polygon and image objects can be placed with pixel precision.
                Supports orthogonal, isometric and staggered maps.
            </span>
            </div>
        </div>
        <div class="live-tile accent white" data-mode="flip" data-delay="4000">
            <div>
                <img src="/Modules/EasyModules.NET.Modules.Games.Web/Images/browser_icons.png" alt="Ragnarok" />
                <span class="green tile-title">Full crossbrowser support</span>
            </div>
            <div>
                <img src="/Modules/EasyModules.NET.Modules.Games.Web/Images/howling_wolf.png" alt="Ragnarok" />
            </div>
        </div>
    </div>
</div>